
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1 align="Center">Bienvenido esta es la página de Usuarios</h1>
</div>
<div>
    <p>Aqui va el texto...</p>
    <p>Valor pasado --> @ViewData["id"]</p>
</div>

